**Задание 1**
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd

In [11]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head(5)

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [8]:
def param_source(row):
    if row.traffic_source in ('yandex', 'google'):
        return 'organic'
    elif row.traffic_source in ('email', 'paid'): 
        if row.region == 'Russia':
            return 'ad'
        else:
            return 'other'
    else:
        return row.traffic_source

In [12]:
log['source_type'] = log.apply(param_source, axis=1)
log.head(5)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

**Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [31]:
urls = pd.read_csv('URLs.txt', sep='\n')
urls.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [34]:
urls[ urls.url.str.contains('/\d{8}-', regex=True) ].tail(15)

                                                  url
78  /incidents/36003455-natalya-melamed-pered-gibe...
79  /starlife/36131560-maksakova-shokirovala-otkro...
80  /sport/36235520-v-britanii-razgorelsya-krupney...
81  /articles/36093326-shturmovat-donetsk-i-lugans...
82  /video/36214784-panayotov-sdelal-shokiruyusche...
83  /world/36215106-lider-ig-obratilsya-k-boevikam...
84  /articles/36066499-iz-za-zvaniy-anny-netrebko-...
85  /starlife/36096316-u-lyudmily-maksakovoy-sdali...
86  /economics/36097033-a-zhit-za-schet-rossii-vy-...
87  /starlife/36096182-vdova-valeriya-zolotuhina-v...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

**Домашнее задание 3**
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [36]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [38]:
from pymystem3 import Mystem

In [62]:
data['lemmas'] = data.keyword.apply(Mystem().lemmatize)
data['lemmas'] = data.lemmas.apply(' '.join)
data

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n